.btn-cadastrar {
    background-color: #42db8f;
    border: none;
    padding: .8rem 1rem;
    margin-bottom: .7rem;
    margin-top: 3rem;
    color: #fff;
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }
  
.sort-arrow {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-image: url('../../../assets/sort-arrow.png');
  background-repeat: no-repeat;
}
.arrow-down {
  background-position: 0 -10px;
}
.arrow-up {
  background-position: 0 -20px;
}

.table-container {
  max-height: 70vh;
  overflow-x: auto;
  box-shadow: 0 0 10px #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
  thead {
    border-bottom: 1px solid #ddd;
  }
  th {
    font-weight: normal;
    color: #fff;
    padding: .7rem 1rem;
    border-right: 1px solid #ccc;
    cursor: pointer;
    background: #23aac5;
    user-select: none;
    &:last-child {
      border-right: none;
    }
  }
  tbody {
    border-bottom: 1px solid #ddd;
  }
  tbody tr:hover {
    background: #f1f1f1;
  }
}

table th, table td {
  text-align: left;
}

.icon {
  margin-right: .7rem;
  color: #fff;
  font-size: 15px;
}


.cross {
  color: #dd1818;
  font-size: 18px;
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.modal-enter, .modal-leave-active {
  opacity: 0;
}